# EditorConfig helps maintain consistent coding styles for multiple developers
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Web files (Frontend & Node.js)
[*.{js,jsx,ts,tsx,css,scss,html,json}]
indent_size = 2

# Configuration and Markdown
[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Kotlin / Java standards
[*.{kt,kts,java}]
indent_size = 4
max_line_length = 120

# Windows Batch scripts
[*.{cmd,bat}]
end_of_line = crlf
